<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Apuntes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Componentes</ion-label>
      <ion-button routerLink="/componentes" slot="end" fill="outline">Click</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Alert Dialog</ion-label>
      <ion-button routerLink="/alert-dialog" slot="end" fill="outline">Click</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>¿?</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
